#user_edit
  - if !@user.nil? and !@user.errors.empty?
    #error_notice
      - @user.errors.full_messages.each do |message|
        %p
          = message

  = form_for(@user) do |user|
    = render :partial => "fields", :locals => {:user => user}
    .input
      = user.submit "Update", :class => "btn primary"

