.clearfix
  %label Fund
  .input
    = asset.text_field :fund
.clearfix
  %label Book Value
  .input
    = asset.text_field :book_value
.clearfix
  %label Quantity
  .input
    = asset.text_field :quantity_purchased

