.clearfix
  %label Fund
  .input
    = asset.collection_select(:fund_id, @funds, :id, :name, :include_blank => "Select One")
.clearfix
  %label Purchase Date
  .input
    = asset.text_field :purchase_date
.clearfix
  %label Book Value
  .input
    = asset.text_field :book_value
.clearfix
  %label Quantity
  .input
    = asset.text_field :quantity_purchased

