#user_assets_add
  - if !@user.errors.empty?
    #error_notice
      - @user.errors.full_messages.each do |message|
        %p
          = message
  = form_for(@asset, :url => user_assets_path) do |asset|
    = render :partial => "fields", :locals => {:asset => asset}
    .clearfix
      .input
        = asset.submit "Add", :class => "btn primary"


