#funds
  %h1
    %span
      Funds

  #table
    %table{:id => "funds_table"}
      %thead
        %th
          Name
        %th
          Type
        %th
          Net asset value
        %th
          Date updated
      %tbody
        - @funds.each do |fund|
          %tr
            %td
              = link_to fund.name, fund_path(fund)
            %td
              = fund.fund_type
            %td
              = fund.nav
            %td
              = fund.last_updated_date


