#header{
  border-bottom:10px solid Turquoise;
  height:30px;
  padding-bottom:20px;
  .app_name{
    color:#0064CD;
    float:left;
  }
}

#im_content{
  margin-top: 30px;
}
#error_notice{
  p{
    background-color:red;
    padding:10px;
    color:white;
    font-size:20px
  }
}
#success_notice{
  p{
    background-color:green;
    padding:10px;
    color:white;
    font-size:20px
  }
}
.float_left{
  float:left
}

.float_right{
  float:right
}

.table{
  margin-top: 30px;
}
.profile_link{
  padding:10px 10px 0px 0px;
  float:right;
}


